details {
    font-family: "Lexend Deca", sans-serif;
    border-bottom: 1px solid #777777;
    padding-bottom: 10px;
}

summary {
    color: #ff0000;
}

details p {
    color: #777777;
    font-size: 14px;
}